# CREDENCIALES DE LA BD
DB_USER=myUserDB
DB_PASSWORD=myPasswordDB
DB_URL=jdbc:postgresql://localhost:5432/my_database_name?useSSL=false
DB_DRIVER=org.postgresql.Driver
DB_DIALECT=PostgreSQLDialect
PORT=5432
FRONTEND_URL=http://localhost:3000
SERVER_URL=http://localhost:8080
CLOUDINARY_CLOUD_NAME=hiouiyugyugy
CLOUDINARY_API_KEY=7g76ff5fgg7
CLOUDINARY_API_SECRET=fyuyuffytfthg6ff565
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=ggggyguy@gmail.com
EMAIL_PASSWORD=oiuhuhiu